@font-face {
    font-family: "Starborn";
    src: url(/assets/fonts/Starborn.ttf);
}
body {
    background-image: url(/assets/images/wallpaper2.jpg);
    overflow: hidden;  
}

#logMealContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logMealTitle {
    font-family: Starborn;
    font-size: 40px;
    color: #F4ADCF;
    margin-bottom: 50px;
}

#logMealBox {
    width: 750px;
    height: 500px;
    background: #E9FAFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.uploadButtons {
    font-family: Starborn;
    color: #FFF4BF;
    background-color: #F2619C;
    border-radius: 30px;
    width: 200px;
    height: 40px;
}

#mealDate , #mealType , #mealNotes {
    font-family: Starborn;
    color: #95BBEA;
    font-size: 20px;
}
input[type="date"] {
    background-color: #FFF4BF;
    font-family: Starborn;
    font-size: 20px;
    color: #2b4789;
}

select {
    background-color: #FFF4BF;
    font-family: Starborn;
    font-size: 18px;
    color: #2b4789;
}

input[type="text"] {
    background-color: #FFF4BF;
    font-family: Starborn;
    font-size: 20px;
    color: #2b4789;
}

#submitButton {
    font-family: Starborn;
    color: #FFF4BF;
    background-color: #F2619C;
    border-radius: 30px;
    width: 200px;
    height: 40px;
}

#mealDate , #mealType, #buttonContainer, #mealNotes {
    margin-bottom: 70px;
}

#back-link { 
    display: block; 
    text-align: center; 
    margin-top: 24px; 
    font-family: Starborn; 
    font-size: 1rem; 
    color: #F4ADCF; 
    text-decoration: none; 
}
