@font-face {
    font-family: "Starborn";
    src: url(/public/assets/fonts/Starborn.ttf);
}
body {
    background-image: url(/public/assets/images/wallpaper2.jpg);
    overflow: hidden;  
}

#logMealContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logMealTitle {
    font-family: Starborn;
    font-size: 40px;
    color: #F4ADCF;
    margin-bottom: 50px;
}

#logMealBox {
    width: 600px;
    height: 500px;
    background: #FFF4BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}